@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <div class="mainText">
        <h1 class="display-4 text-capitalize text-black">Welcome to Vittos Pizza</h1>
        <h4 class="mainSubtitle">Vittos Pizza is the pizza for you and me!!</h4>
    </div>
    
    <img class="mainImage" src="~/images/pizzahome.png"  height="600" width="600"/>
    <br />
    <a class="btn btn-primary mt-1" asp-area="" asp-page="Pizza">Get that Pizza</a>
</div>

